#cabeçalho{
    list-style-type: none;
    background-color: #021b30;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#menu a{
    text-decoration: none;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: x-large;
}
 
#menu li{
    display: inline;
}
 


.logo{
    margin-left: 532px;
    margin-right: 20px;
    width: 70x;
    height: 70px;
}

 
.Piola{
    font-size: xx-large;
    color: #021b30;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #988b8e;
    font-family: "Questrial", sans-serif;
    margin-left: 0x;
    margin-right: 300px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 40%;
    border-radius: 15px;
}
 
.Piola p {
   display: flex;
   justify-content: center;
}


#principal{
    width: calc(100% - 450px);
    height: 100%;
    background-color: white;
    overflow: hidden;
}




.aluno{
    display: flex;
    justify-content: center;
    margin-top: 20px  ;
}


.imagem{
    width: 350px;
    height: 350px;
}


.ajuda{
    font-family: 'Lexend Exa', sans-serif;
    display: flex;
    justify-content: center;
    font-size: x-large;
    justify-content: space-around;
}


#aside{
    background-color: #021b30;
    width: 450px;
    height:100%;
    display: flex;
    justify-content: flex-start;
    float: left;
    font-family: 'Lexend Deca', sans-serif;
}


.menu{
    list-style: none;
    margin-top: 35px;
}


.menu li{
    margin-bottom: 70px;
    justify-content: center;
}


.menu a{
    text-decoration: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    transition: 1.1s;
    display: flex;
    justify-content: center;
    margin-left: 60px;      
}


.b{
    background-color: #4B5842;
    color:  black;
}
   
.b:hover{
    transform: scale(1.1);
}


.out{
    background-color: #021b30;
    color: #4B5842;
}


.out:hover{
    transform: scale(1.1);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.certificado {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
  text-align: center;   
 
    
}
h1 {
    color: #021b30;
}
